.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-buttons {
  background: white;
  border: 0;
}

.todo-buttons-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.todo-item {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  word-break: break-word;
}

.add-todo-input {
  margin-right: 10px !important;
}

.heading {
  padding: 20px;
  font-size: 50px;
  color: #1976d2;
}
